*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	position: relative;
	font-family: sans-serif;	/*Default in firefox atleast*/
/*	background: linear-gradient(127.55deg, #1E1818 65.25%, rgba(72, 65, 65, 0) 91.97%, rgba(179, 164, 164, 0.609) 91.97%, rgba(224, 215, 215, 0.5607) 91.97%);
*/	background: linear-gradient(to right, rgba(55,185,233,0), rgba(55,185,233,1));
/*	background: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
/*	background-image: linear-gradient(to bottom right, red, yellow);
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1))	/*the last 0 means full transparency, and 1 means full color*/
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #5F6CE2;
/*	background-color: rgba(95,109,226, 0.8)
*/	font-family: 'Poppins', sans-serif;
}

.the_note{
	float: left;
	margin: 4px;
	padding: 4px;
	width: 75%;
}

.the_note input{
	width: 100%;	/*100% of the 90% width given for the div block*/
	overflow: hidden;
	padding: 4px;
	margin: 4px;
}

/*
.logo{
	position: absolute;
	width: 435px;
	height: 98px;
	left: 0px;
	top: 13px;

	font-family: 'Abel', sans-serif;
	font-size: 48px;
	line-height: 72px;
	display: flex;
	align-items: center;
	text-align: center;
}

*/



/*
Why is it not working as a class, but it's height can be changed when changing property using id*/

.the_note .Note_Name input{
	font-size: 1rem;
	font-weight: bold;
	border: 2px solid grey;
	border-radius: 3px;
	padding: 6px;
}

.the_note .Note_Name input:focus{
		border: 2px solid #555;
	}

.the_note .Note_Area input{
text-align: left;
padding-top: 0;
padding-left: 0;
padding-right: 0.4px;
padding-bottom: 0.4em;
height: 600px;
font-size: 1rem;
border-radius: 3px;
border: 1px solid black;
}

.list_notes{
	float: right;
}

.navlinks{
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.navlinks li{
	cursor: pointer;
	list-style: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 30%;
	font-weight: bold;
	font-size: 14px;
}

.hidden_input{
	display: none;
}

.burger_nav{
	display: none;	/*Elements of burger class wont be shown*/
}

.burger_nav div{
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 4px;
}

@media screen and (max-width: 1000px){
/*	body{
		display: none;
	}
*/	.navlinks{
		width: 50%;
	}
}